.note {
  position: static;
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  color: #222;
  font-size: 16px;
  line-height: 2rem;
  background-color: rgb(255, 252, 236);
  background-image: linear-gradient(rgba(126, 175, 240, 0.116) 0.1em, transparent 0.1em);
  background-size: auto 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  &:focus {
    outline: none;
  }

  // p-tag in textarea does not work?
  &p {
    margin: 0 0 2rem;
    &:first-letter {
      margin-left: 1rem;
    }
  }
}
