@mixin navbar($height) {
  background-color: rgb(138, 199, 222);
  position: absolute;
  width: 100%;
  height: $height;
}

.largeHeader {
  @include navbar(20%);

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.smallHeader {
  @include navbar(12%);
}
@mixin navBlock($top, $left) {
  height: 80%;
  position: absolute;
  transform: translate(-50%, -50%) rotateZ(0deg);
  top: $top * 1%;
  left: $left * 1%;
  z-index: 1;
  transition: transform 0.75s ease-in-out;
  color: #222;
  &:hover {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@mixin text($fontsize) {
  position: absolute;
  margin: 0;
  font-size: $fontsize;
  text-decoration: none;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 1120px) {
    font-size: 8px;
  }
}

.largeText {
  @include text(16px);
}

.smallText {
  @include text(12px);
}

.navBlock1 {
  @include navBlock(50, 10);
}

.navBlock2 {
  @include navBlock(50, 20);
}

.navBlock3 {
  @include navBlock(50, 60);
}

.navBlock4 {
  @include navBlock(80, 70);
}

.navBlock5 {
  @include navBlock(50, 70);
}

.navBlock6 {
  @include navBlock(50, 80);
}

.navBlock7 {
  @include navBlock(80, 90);
}

.navBlock8 {
  @include navBlock(50, 90);
}

.hover {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
